<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body >
<label>Role Name : <input ng-model="main.roles.list[main.expandRoleID]['name']" type="text"
                       value="{{main.roles.list[main.expandRoleID]['name']}}"/></label>
<br>
<label>Role Description : <input ng-model="main.roles.list[main.expandRoleID]['description']" type="text"
                          value="{{main.roles.list[main.expandRoleID]['description']}}"/></label>
<br>
<label>Role privileges : <input ng-model="main.roles.list[main.expandRoleID]['privileges']" type="text"
                          value="{{main.roles.list[main.expandRoleID]['privileges']}}"/></label>
</body>
</html>