<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="dTemplate.css">
    <title></title>
</head>
<body >
<h1>{{main.dialogServices.values['Header']}}</h1>
<label>Role Name : <input ng-disabled="main.dialogServices.values['disableNameInput']"
                          ng-model="main.dialogServices.values['name']" type="text"
                          value="{{main.dialogServices.values['name']}}"/></label>
<br>
<label>Role Description : <input ng-disabled="main.dialogServices.values['disableDescriptionInput']"
                                 ng-model="main.dialogServices.values['description']" type="text"
                                 value="{{main.dialogServices.values['description']}}"/></label>
<br>
<!--
<label>Role privileges : <input ng-disabled="main.dialogServices.values['disablePrivilegesInput']"
                                ng-model="main.dialogServices.values['privileges']" type="text"
                                value="{{main.dialogServices.values['privileges']}}"/></label>
-->

<div class="privilegeCheckBoxes">
    <label>Role privileges :
        <form ng-repeat="p in main.fullPrivList">
            <label><input ng-disabled="main.dialogServices.values['disablePrivilegesCheckboxes']"
                          ng-checked="main.dialogServices.checkBoxTester(p,main.dialogServices.values['privileges'])"
                        type="checkbox" ng-model="main.dialogServices.values.privCbs[p]" >{{p}}</label>
        </form>
    </label>
</div>
<br>
<br>
<button type="submit" id="edit" ng-hide="main.dialogServices.values['hideEditBtn']"
        ng-click="main.update(main.roleID)">Submit Changes</button>

<button type="submit" id="remove" ng-hide="main.dialogServices.values['hideRemoveBtn']"
        ng-click="main.remove(main.roleID)">Remove Role</button>

<button type="submit" id="create" ng-hide="main.dialogServices.values['hideCreateBtn']"
        ng-click="main.create()">Create Role</button>

<button type="submit" id="discard" ng-click="closeThisDialog()">Discard/Close</button>

<br>
<p class="statusLine" ng-hide="main.dialogServices.values['hideStatus']">
    {{main.dialogServices.values['statusText']}}</p>

</body>
</html>