<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0-beta.5/angular.min.js"></script>
    <script type="text/javascript" src="mainModule.js"></script>
    <link rel="stylesheet" type="text/css" href="ngDialog-master/css/ngDialog-theme-default.css">
    <script type="text/javascript" src="ngDialog-master/js/ngDialog.js"></script>
    <link rel="stylesheet" type="text/css" href="main.css">
    <title>Roles</title>
</head>
<body ng-app="mainModule" data-ng-controller="MainCtrl as main">
<div class="scrollingCreate">
    <button type="submit" ng-click="main.openDialog(0,'create')"><img class="icon" src="icons/create.jpg" /></button>
</div>
<div class="container">


    <table class=rolesTable border="1">
        <thead>
            <tr style="font-weight: bold">
                <td>Remove</td>
                <td>Role Name</td>
                <td>Description</td>
                <td>Privilieges</td>
                <td>View</td>
                <td>Edit</td>

            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="(id, role) in main.roles.list">
                <td>
                    <button type="submit" ng-click="main.openDialog(id,'remove')"><img class="icon" src="icons/remove.jpg" /></button>
                </td>
                <td>{{ role.name }}</td>
                <td>{{ role.description }}</td>
                <td>{{ role.privileges.toString() }}</td>
                <td>
                    <button type="submit" ng-click="main.openDialog(id,'view')"><img class="icon" src="icons/view.jpg" /></button>
                </td>
                <td>
                    <button type="submit" ng-click="main.openDialog(id,'edit')"><img class="icon" src="icons/edit.jpg" /></button>
                </td>

            </tr>
        </tbody>
    </table>
</div>

</body>
</html>